AUTH_DB_URL=jdbc:postgresql://localhost:5444/user
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET_KEY=
KAFKA_SERVERS=localhost:9092

EUREKA_SERVER=http://localhost:8761/eureka
ZIPKIN_SERVER=http://localhost:9411/api/v2/spans

MONGO_USER=
MONGO_PASS=
MONGO_HOST=localhost

MAIL_USERNAME=
MAIL_PASSWORD=