# --- Çevre Değişkenleri ve Gizli Dosyalar ---
.env
.env.local
*.env

# --- Maven ve Derleme Çıktıları ---
target/
*.jar
*.war
*.ear

# --- IDE ve Editör Ayarları ---
.idea/
*.iml
.vscode/
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# --- İşletim Sistemi Kalıntıları ---
Thumbs.db
.DS_Store

# --- Docker ---
.docker/